*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primaray: #ff5722;
    --color-primary-light: #ff7a50;
    --color-secondry-light: #fff6f2;
    --color-secondry-dark: #ffa589;
    --color-navbar: #f8f8f8;
    --color-headings: #000;
    --color-white: #fff;
    --color-body: #333333;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-size: 1.4rem;
    line-height: 2;
}

h1,h2,h3 {
    color: var(--color-headings);
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
   font-size: 1.5rem; 
}

@media screen and (min-width: 1024px) {
    body {
        font-size :1.8rem;
    }

    h1 {
    font-size :5rem;
    }
    h2 {
        font-size :3.5rem;
    }

}
/* buttons */
.btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
}

.btn--primary {
    background-color: var(--color-primaray);
    color: var(--color-white);
}

.btn--secondary {
    background-color: var(--color-secondry-dark);
    color: var(--color-white);
}

.btn--block {
    width: 100%;
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.6rem;
    }
    .btn--block {
        font-size: 2rem;
    }
}

/* badge */
.badge { 
    display: inline-block;
    padding: 0.5rem 1.3rem;
    color: var(--color-primaray);
    background-color: var(--color-white);
    border-radius: 32px;
    border: 2px solid var(--color-primaray);
    font-size: 1.2rem;
}

.badge--primary {
    color: var(--color-white);
    background-color: var(--color-primaray);
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.4rem;
    }
}

/* list */
.list {
    list-style: none;
    font-size: 1.8rem;
}

.list--inline .list__item{
    display: inline-block;
    margin-left: 2rem;
}

.list--tick .list__item {
    background: url(../assets/images/check.svg) no-repeat right center;
    padding-right: 3rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

/* plan */

.block-plan {
    display: grid;
    gap: 10rem 6rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    margin-top: 5rem;
}

.plan {
    font-size: 1.8rem;
    transition: all 0.2s ease-out;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px 10px #efefef;
}

.card__header,
.card__body {
    padding: 3rem 2.5rem;
}

.card__header {
    background-color: var(--color-secondry-dark);
    color: var(--color-white);
}

.card--primary .card__header {
    background-color: var(--color-primary-light);
}

.card--secondary .card__header {
    background-color: var(--color-secondry-dark);
}

.plan__introduction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.plan__price {
    font-size: 3rem;
}

.plan__billing-cycle {
    font-size: 1.4rem;
}

.plan__description {
    margin-top: 1.5rem;
    display: block;
}

.plan .btn--block {
    margin-top: 10rem;
    font-size: 1.6rem;
}

.plan--popular {
    transform: scale(1.1); 
}

.plan--popular:hover {
    transform: scale(1.15);
}

.plan:hover  {
    transform: scale(1.05);
}

@media screen and (min-width:1024px) {
    .plan .btn--block {
        font-size: 1.8rem;
    }
}

/* container */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* feature */
.feature {
    display: grid;
    gap: 0rem 10rem;
}

.feature__text {
    margin-bottom: 2rem;
    text-align: justify;
}

.feature .btn {
    padding: 1.2rem 3rem;
}

.feature__image > img {
    width: 70%;
    height: auto;
}

.feature__image {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}


@media screen and (min-width:1024px) {
    .feature {
        grid-template-columns: repeat(2, 1fr);
    }

    .charge .feature__image {
        order: 1;
    }

    .feature__image {
        order: 2;
        margin-bottom: 2rem;
        margin-right: 10%;
    }

    .feature__detail {
        order: 1;
    }

    .feature__image > img {
        width: 100%;
    }
}

/* contact-us */
.contact-us {
    display: grid;
}

.contact-us__map {
    display: none;
}

@media screen and (min-width:1024px) {
    .contact-us {
        grid-template-areas: 
        "icons form"
        "map form"
        "social form";
        grid-template-columns: 60fr 40fr;
    }

    .contact-us__form {
        grid-area: form;
    }
    .contact-us__map {
        grid-area: map;
        display: block;
    }
    .contact-us__icons {
        grid-area: icons;
    }
    .contact-us__social {
        grid-area: social;

    }
}

/* icons */
.icon {
    width: 24px;
    height: 24px;
}

.icon--small {
    width: 32px;
    height: 32px;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.contact-us__icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact-us__icons .icon-holder {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.icon-holder__label {
    margin-left: 1rem;
    display: block;
    max-width: 300px;
}

@media screen and (min-width:1024px) {
    .contact-us__icons {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-us__icons .icon-holder {
        flex-direction: column;
        max-width: 150px;
    }
    
    .icon-holder__label {
        order: 2;
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }
}

/* social icons */

.contact-us__social .icon-container {
    margin-left: 2rem;
}

.contact-us__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

@media screen and (min-width:1024px) {
    .contact-us__social {
        justify-content: flex-end;
        margin-bottom: 0;
    }
}

.contact-us__map img {
    width: 100%;
    height: auto;
}



.form-wrapper {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    padding: 1rem;
}

.form-wrapper h3 {
    margin-bottom: 5.2rem;
    text-align: center;
}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}

input,textarea {
    display: block;
    outline: 0;
    border: 0;
}

textarea {
    resize: none;
    width: 100%;
    height: 200px
}

::placeholder {
    font-size: 1.2rem;
    color: #444;
    font-family: "vazir";
}

.form-wrapper input,
.form-wrapper textarea {
    border-radius: 39px;
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
    padding: 1.2rem 1.5rem;

    margin-bottom: 1.5rem;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
    border: 1px solid var(--color-primaray);
} 

.form-wrapper textarea {
    border-radius: 5px;

}


@media screen and (min-width:1024px) {
    .contact-us__form {
        margin-right: 3rem;
    }
}


/* footer */

.main-footer {
    background-color: #000;
    color: #fff;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.main-footer .footer {
    display: flex;
    flex-direction: column;
}

.footer__item .tapsi-logo-white {
    width: 140px;
    margin-bottom: 1rem;
}

.footer__item h3 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 1rem;
}

.footer__item .copy-right {
    color: #acacac;
}

.footer__item {
    margin-bottom: 2.5rem;

}

.footer__item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 0.5rem;
    display: block;
}

.footer__item a:hover {
    color: var(--color-primaray);
}

.footer__item h6 {
    font-size: 1.8rem;
    font-weight: bold;
}

.footer__item.enamad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__enamad {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    max-width: 86px;
    max-height: auto;
    margin-left: 0.5rem;
}

.footer__enamad img {
    width: 100%;
    height: auto;
}

@media screen and (min-width:768px) {
    .main-footer .footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__item {
        margin-bottom: 0;
        margin-left: 2rem;
    }

    .footer__item.first {
        width: 15%;
    }
}

/* navbar */
.main-header {
    background-color: var(--color-navbar);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}

.nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.nav.nav__expanded .nav__list{
    max-height: 100vh;
    opacity: 1;
}

.nav__item > a {
    text-decoration: none;
    color: #444;
    display: block;
    padding: 0.5rem 0;
}

.nav__item.cta {
    font-size: 1.4rem;
}

.nav__item.cta a {
    color: #fff;

}

.nav__item .btn {
    padding: 0.4rem 3rem;
    display: none;
}


@media screen and (min-width:768px) {
    .nav {
        padding: 0 2rem;
    }
    .nav__toggler {
        display: none;
    }
    
    .nav__item .btn {
        display: block;
    }

    .nav__item .btn:hover {
        color: #fff;
        scale: 0.98;
    }

    .nav__list {
        width: auto;
        flex-direction: row-reverse;
        align-items: center;
        max-height: 100%;
        opacity: 1;
    }

    .nav__item {
        margin-right: 2rem;
        margin-bottom: 0;
        font-size: 1.6rem;
    }

    .nav__item > a:hover {
        color: var(--color-primaray);
    }
}

/* toggler */
.nav__toggler {
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.4s ease-out;
}

.nav.nav__expanded .bar-one{
    transform: rotate(-45deg) translate(-9px, 6px);
    margin: 8px 0;

}

.nav.nav__expanded .bar-two{
    opacity: 0;

}

.nav.nav__expanded .bar-three{
    transform: rotate(45deg) translate(-8px, -8px);
    margin: 8px 0;
}

/* hero section */



/* services */

.services__tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    gap: 1rem;
    padding: 5px 0 15px;
    margin: 20px 0 0;
}

.services__tabs a {
    display: block;
    text-decoration: none;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80px;
    cursor: pointer;
    text-wrap: nowrap;
}

.services__tabs .tab > p {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.services__tabs img {
    max-width: 80px;
}

.services__tabs .tab {
    opacity: 0.5;
    transition: all 0.1s ease-out;
}

.services__tabs .tab:hover {
    opacity: 1;
}

.services__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.services .feature__title {
    font-size: 1.6rem;
    margin: 1.5rem 0;
}

.services .feature__image {
    display: none;
}

.tab-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature__detail {
    width: 100%;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
}

.tab.active {
    opacity: 1;
}

@media screen and (min-width:1024px) {
    .services__tabs a {
        max-width: 95px;
        margin: 50px 0;
    }

    .services__tabs .tab > p {
        margin-top: 1rem;
        font-size: 1.6rem;
    }

    .services__tabs img {
        max-width: 95px;
    }

    .services__title {
        font-size: 3.5rem;
        margin-bottom: 30px;
    }

    .services .feature__image {
        display: block;
    }

    .services .feature__title {
        font-size: 2.8rem;
        margin: 1.5rem 0;
    }

    .feature__detail {
        width: 100%;
    }
}

.block {
    padding: 4rem 2rem;
}

.block-heading {
    margin-top: 10rem;
}

@media screen and (min-width:768px) {
    .block {
        padding: 6rem 2rem;
    }

    .block-heading {
        margin-top: 22rem;
    }

}

.travell__slides {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.travel__slide {
    height: 100px;
}


